# Nuxt
.nuxt
.output
.env
.nitro

# Node
node_modules
*.log*
.DS_Store

# Build
dist
.cache

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

# TypeScript
*.tsbuildinfo

# Misc
.turbo
coverage

.npmrc
